#new-topics-alert {
    margin-bottom: 0px;
    padding: 10px 16px;
}

.navbar-hidden & {
    .topic-list-header {
        @media (max-width: @screen-xs-max) {
            padding-top: 25px !important;
            border-bottom: 1px solid @bg-darker;
        }
    }
}


.topic-list-header {
    position: sticky;
    top: @navbar-height;
    background-color: @body-bg;
    z-index: @zindex-navbar;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.page-recent .topic-list-header {
    @media (min-width: @screen-sm-min){
        border-bottom: 1px solid @bg-darker;
    }
    @media (max-width: @screen-xs-max) {
        width: 110%;
        margin-left: -4%;
        display: flex;
        padding-left: 20px;
        border-bottom: none;
        padding-top: 25px !important;
    }
}